<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socra.socra.killunicorn">

    <application
        android:allowBackup="true"
        android:icon="@drawable/unicornio_go"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-5375202444824175~4535471184"/>

        <activity
            android:name=".ui.ranking_activity"
            android:label="@string/title_activity_ranking_activity"
            android:parentActivityName=".ui.juegoactivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.socra.socra.killunicorn.ui.juegoactivity" />
        </activity>
        <activity android:name=".ui.juegoactivity" />
        <activity android:name=".ui.pantallainicio" />
        <activity android:name=".ui.registroactivity" />
        <activity android:name=".ui.loginactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>